@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.auth-input:focus-within ~ label,
.auth-input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-5 text-xs text-grey-text;
}

.radio-group {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
  }
  &:hover input ~ .checkmark{
    @apply border-primary;
  }
  & input:checked ~ .checkmark {
    @apply border-4 border-primary;
  }
}

.hero {
  background-image: url('./assets/images/hero.png');
}